.paginate {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: auto;
}

.paginate div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.paginate div button {
    padding: 0rem 1rem;
    background-color: var(--color-back);
}