.userInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    background-color: var(--color-back);
    text-align: center;
    align-items: center;
}

.userInfo p {
    font-size: 1.5rem;
}

.userActions {
    display: flex;
    justify-content: space-evenly;
}