.modal{
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
}
.modal__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.modal__header img{
    width: 7rem;
}
.modal__header h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}
.modal__inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal__option{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.modal__option button{
    width: 100%;
    padding: 1rem;
    color: var(--color-text);
    transition: .2s ease;
}
.modal__option button:hover{
   transform: scale(1.1);
}
.btnCancel{
    background-color: var(--color-main);
}
.btnAcept{
    background-color: var(--color-acept);
}
.modal__option__close {
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal__option__close button {
    width: 60%;
    padding: 1rem;
    color: var(--color-text);
    transition: .2s ease;
    text-transform: capitalize;
    background-color: var(--color-black);
}
