.page {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    width: 100vw;
}
.title{
    text-align: center;
    font-weight: 400;
}
.title span{
    color: var(--color-main);
}
.menu {
    background-image: url("/images/image-back.png");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 2rem;
}

.menu__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid white;
    padding-bottom: 3rem;
}

.menu__logo img {
    width: 8rem;
}

.menu__option {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu__option a {
    color: var(--color-text);
}

.btnLogout {
    display: flex;
    background-color: transparent;
    gap: 2rem;
    align-items: center;
    color: var(--color-text);
}

.btnLogout img {
    width: 3rem;
}

.userSection {
    width: 80%;
    margin: 0 auto;
    padding: 4rem;
}

.userInfo {
    background-color: var(--color-back);
    width: 70rem;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.userInfo__inputD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.userInfo__input {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.userInfo__input p,
.userInfo__input a {
    padding: 1rem;
    border-radius: .5rem;
    background-color: white;
    color: black;
    transition: .2s ease;
    
}

.userInfo__input a {
    width: 32rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
   
}

.userInfo__input a:hover {
    color: var(--color-text);
    background-color: var(--color-acept);
    transform: scale(1.05);
   
}

.userInfo__textarea {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.userInfo__textarea textarea:disabled {
    height: 25rem;
    resize: none;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    color: black;
}